* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 375px;
  padding: 40px 24px;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}

.header {
  padding: 40px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}

.header a {
  text-decoration: none;
  color: #6070ff;
}

.header ul li a {
  font-size: 30px;
  padding: 12px 0;
  margin-right: 15px;
  color: #ababab;
  cursor: pointer;
}

.menu-bar i {
  font-size: 25px;
  color: #6070ff;
}

.hero-title {
  height: 150px;
  width: 327px;
  margin-top: 114px;
  margin-bottom: 12px;
}

.hero-text,
.about-text {
  height: 146px;
  width: 327px;
  margin-bottom: 12px;
}

.hero-title h1 {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 700;
}

.hero-text,
.about-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: justify;

  /* padding: 12px 0; */
}

.btn {
  margin-top: 12px;
}

.hero-btn,
.about-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  padding: 6px 0;
  border: none;
  background: #fff;
  cursor: pointer;
}

.hero-social-icons {
  margin: 12px 0;
}

.hero-social-icons ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 8px;
}

.hero-social-icons i {
  font-size: 25px;
  color: #ababab;
}

.language-card,
.framework-card,
.skill-card i {
  font-size: 20px;
}

.about-social-icons i {
  font-size: 25px;
  color: #ababab;
}

.hero-social-icons i:hover {
  color: #505f79;
}

/* work section */

.works {
  width: 375px;
  background: #e5e5e5;
  margin: 50px 0;
  border-top-right-radius: 50px;
  padding: 30px 0;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 327px;
  height: 552px;
  margin: 20px 24px;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
}

.snapshoot {
  width: 100%;
}

.frame {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 250px;
  height: 24px;
}

.frame h3,
h4 {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #172b4d;
}

.project-title {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 700;
  color: #344563;
}

.tags {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 200px;
  height: 24px;
}

.tags h3 {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #6070ff;
}

.primary-text {
  width: 295px;
}

.primary-text p {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #344563;
}

.simple-button {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  height: 24px;
  color: #396df2;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background: #fff;
  cursor: pointer;
}

/* about section */

.about {
  width: 375px;
  padding: 40px 24px;
}

.about-text {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.about-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-align: left;
  color: #172b4d;
}

.frame2 {
  margin: 20px 0;
}

.frame3 {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 8px;
  margin: 4px 0;
}

.language-card,
.card3 {
  margin: 20px 0;
}

.frame2 ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}

.l-title,
.l-icon,
.f-title,
.f-icon,
.s-title,
.s-icon {
  display: inline-block;
  vertical-align: middle;
}

.l-title {
  padding-right: 70px;
}

.skill-card {
  margin-bottom: 20px;
}

hr {
  color: #dfe1e6;
}

.about-social-icons ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 8px;
}

.about-social-icons {
  margin: 12px 0;
}

.about-social-icons i:hover {
  color: #505f79;
}

.img,
.text {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.f-title {
  padding-right: 50px;
}

.s-title {
  padding-right: 180px;
}

/* Contact Section */

.contact {
  width: 375px;
  border-top-left-radius: 90px;
  padding: 150px 24px 50px 24px;
  background: #6070ff;
  display: flex;
  flex-direction: column;
  margin: 80px 0 20px 0;
  justify-content: center;
  align-content: center;
  background-image: url(./images/contact.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* .contact.container {
  margin-bottom: 50px;
} */

.contact-text {
  margin: 12px 0;
}

.contact-title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

.contact-form {
  display: flex;
  width: 327px;
  margin: 60px 0 50px 0;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid #cfd8dc;
  outline: none;
  padding: 15px;
  margin: 12px 0;
  color: #172b4d;
  font-size: 1.125rem;
  border-radius: 8px;
}

form textarea {
  height: 170px;
}

/* footer section */

.shape {
  height: 5px;
  width: 134px;
  left: 120px;
  top: 21px;
  border-radius: 10px;
  background: #0d151e;
  display: flex;
  justify-content: center;
  margin-top: -27px;
  margin-bottom: 30px;
}

footer {
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 165px 0 130px;
}
