* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* =============NAV========= */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-center {
  width: 90vw;
  max-width: 1440px;
}

.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header a {
  text-decoration: none;
  cursor: pointer;
  color: #5566f8;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-top: 25px;
}

.toggle-btn i {
  margin-top: 25px;
  font-size: x-large;
  color: #6070ff;
}

.about-lang-bottom li {
  display: flex;
  column-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 7.6rem;
  gap: 1rem;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
  text-decoration: none;
}

.nav-links ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-top: 1px solid rgb(126, 125, 125);
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #344563;
  padding: 1rem 0;
}

.nav-link {
  display: inline-block;
  text-align: center;
}

.nav-links {
  display: none;
}

/* ============MAIN PAGE======= */

.page {
  min-height: calc(100vh - 6rem);
}

/* ==============HERO SECTION======= */

.hero {
  padding: 6rem 1.5rem;
  background-image: url(./images/background.png);
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.hero p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  margin-bottom: 0.75rem;
}

.hero-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #5c6ae4;
  padding: 0.4rem 0;
  border: none;
  background: #fff;
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.hero-social ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.hero-social i {
  font-size: 1.5625rem;
  color: #505f79;
}

.hero-social ul li a {
  cursor: pointer;
}

.hero-social i:hover {
  color: #505f79;
}

/* ==============WORKS SECTION======= */

.works {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  background: #e5e5e5;
  padding: 3rem 1.5rem;
}

.card {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 0.5rem;
}

.snapshoot {
  width: 100%;
}

.frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.frame h3 {
  margin-right: 1.25rem;
}

.project-title {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 700;
  color: #344563;
  text-align: start;
}

.primary-text p {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #344563;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ruby {
  display: none;
}

.client,
.counter,
.year,
.role {
  margin-right: 0.75rem;
}

.project-title,
.snapshoot,
.primary-text,
.frame,
.tags,
.simple-button {
  margin-bottom: 1.25rem;
}

.tags h3 {
  padding: 0.25rem 0.75rem;
  background: #ebebff;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #4658f4;
  margin-right: 0.4rem;
}

.simple-button {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  height: 24px;
  color: #396df2;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background: #fff;
  cursor: pointer;
}

/* ==========ABOUT SECTION============= */

.about-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-align: left;
  color: #091e42;
}

.frame2 {
  margin: 20px 0;
  width: 100%;
}

.frame3 {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 8px;
  margin: 4px 0;
}

.language-card,
.card3 {
  margin: 20px 0;
}

.frame2 ul li {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}

.l-title,
.l-icon,
.f-title,
.f-icon,
.s-title,
.s-icon {
  display: inline-block;
  vertical-align: middle;
}

.framework-card,
.skill-card {
  padding-bottom: 0.57rem;
  border-bottom: 1px solid#ababab;
}

.l-title {
  padding-right: 100px;
}

.skill-card {
  margin-bottom: 20px;
}

.about-social-icons ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 8px;
  font-size: 1.5625rem;
}

.fa-brands {
  color: #505f79;
}

.about-social-icons {
  margin-bottom: 0.75rem;
}

.about-social-icons i:hover {
  color: #505f79;
}

.img,
.text {
  display: block;
  margin: 5px;
}

.f-title {
  padding-right: 90px;
}

.s-title {
  padding-right: 180px;
}

/* ==========CONTACT SECTION============= */

.contact {
  width: 100vw;
  border-top-left-radius: 90px;
  padding: 150px 24px 50px 24px;
  background: #6070ff;
  display: flex;
  flex-direction: column;
  margin: 80px 0 20px 0;
  justify-content: center;
  align-content: center;
  background-image: url(./images/contact.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contact-text {
  margin: 12px 0;
}

.contact-title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87.8%;
  margin: 60px 0 50px 0;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid #cfd8dc;
  outline: none;
  padding: 15px;
  margin: 12px 0;
  color: #172b4d;
  font-size: 1.125rem;
  border-radius: 8px;
}

form textarea {
  height: 170px;
}

/* practices */

.about {
  padding: 5.125rem 1.5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  padding-bottom: 0.75rem;
  color: #091e42;
}

.about-text p {
  color: #344563;
}

.bg-n-300 {
  background: #f7f7f9;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-lang-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 50px 23px 0;
  cursor: pointer;
}

.about-lang-top h2 {
  color: #344563;
}

.text {
  color: #344563;
}

.about-skills,
.about-frameworks h2 {
  color: #344563;
}

.about-skills,
.about-frameworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.75rem 2.5rem 0.75rem 0;
}

.about-frameworks {
  border-bottom: 1px solid #dfe1e6;
}

.about-frameworks-top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.about-skills {
  border-bottom: 1px solid #dfe1e6;
}

.about-skills-top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

/* ==========MEDIA QUERY============= */

@media screen and (min-width: 786px) {
  .toggle-btn {
    display: none;
  }

  .navbar {
    height: 6rem;
  }

  .logo {
    margin-top: 0;
  }

  .nav-center {
    width: 100vw;
    padding: 1.6rem 9.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
  }

  .nav-links ul li {
    display: inline-block;
    margin-right: 1rem;
    border: none;
  }

  .nav-header {
    height: auto;
  }

  .hero {
    border-bottom-left-radius: 90px;
    padding: 17rem 16.25rem;
    background-image: url(./images/Header-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-bottom-right-radius: 90px;
  }

  .works {
    width: 100%;
    padding: 8.875rem;
    border-top-right-radius: 90px;
  }

  .card {
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 1.5rem;
  }

  .work-col-1 {
    flex-basis: 55%;
  }

  .work-col-2 {
    flex-basis: 42%;
  }

  .about {
    padding: 6rem;
    flex-direction: row;
    column-gap: 37px;
    border-top-right-radius: 8rem;
  }

  .about-myself {
    flex-basis: 25rem;
  }

  .about-tools {
    flex-basis: 25rem;
  }

  .about-lang-bottom {
    display: flex;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }

  .contact-form {
    width: 447px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
  }

  .contact-text {
    width: 35.6rem;
  }

  .contact-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    width: 100%;
    padding: 8.875rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(./images/contact-bg.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and(min-width: 600px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    align-items: center;
  }

  .about-col-1 {
    width: 43%;
    flex-basis: 43%;
  }

  .about-col-2 {
    flex-basis: 55%;
  }

  .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
}
